<html>
	<head><title>Line Notifier!! by llPandora</title></head>
	<body>
<h1 style="color: #4485b8;">Welcome to Line Notifier</h1>
<h2>by llPandora<strong style="color: #000;"></strong></h2>
<p><strong style="color: #000;"></strong></p>
<p><strong style="color: #000;">Basic usage:</strong>&nbsp;</p>
<p>Notify llPandora : <span style="text-decoration: underline;">http://thissite/tell</span></p>
<p>Liveliness : <span style="text-decoration: underline;">http://thissite/live</span></p>
<p></p>
	</body>
</html>